@(form: org.dupontmanual.forms.Binding)(implicit req: play.api.mvc.Request[_])

<html>
<head>
  <title>Form Tester</title>
  <link rel="stylesheet" href="@controllers.routes.WebJarAssets.at(controllers.WebJarAssets.locate("jquery-ui.css"))"/>
  <link rel="stylesheet" href="@controllers.routes.WebJarAssets.at(controllers.WebJarAssets.locate("bootstrap.css"))"/>
  <link rel="stylesheet" href="@controllers.routes.WebJarAssets.at(controllers.WebJarAssets.locate("datepicker.css"))"/>
  <link rel="stylesheet" href="@controllers.routes.WebJarAssets.at(controllers.WebJarAssets.locate("bootstrap-timepicker.min.css"))"/>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="@controllers.routes.WebJarAssets.at(controllers.WebJarAssets.locate("jquery.js"))"></script>
  <script src="@controllers.routes.WebJarAssets.at(controllers.WebJarAssets.locate("jquery-ui.js"))"></script>
  <script src="@controllers.routes.WebJarAssets.at(controllers.WebJarAssets.locate("bootstrap.js"))"></script>
  <script src="@controllers.routes.WebJarAssets.at(controllers.WebJarAssets.locate("jquery.maskedinput.js"))"></script>
  <script src="@controllers.routes.WebJarAssets.at(controllers.WebJarAssets.locate("bootstrap-datepicker.js"))"></script>
  <script src="@controllers.routes.WebJarAssets.at(controllers.WebJarAssets.locate("bootstrap-timepicker.min.js"))"></script>
</head> 
<body>
  <h1>Form Tester</h1>
  
  <p>All of these fields are optional and should be used to test how the different types of fields work.</p>
  
  <p>@form.render(legend=Some("This is a Legend"))</p>
  
</body>
</html>
